<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Charts" version="24.2.7" targetFramework="net472" />
  <package id="DevExpress.Charts.Core" version="24.2.7" targetFramework="net472" />
  <package id="DevExpress.Data" version="24.2.7" targetFramework="net472" />
  <package id="DevExpress.DataVisualization.Core" version="24.2.7" targetFramework="net472" />
  <package id="DevExpress.Drawing" version="24.2.7" targetFramework="net472" />
  <package id="DevExpress.Pdf.Core" version="24.2.7" targetFramework="net472" />
  <package id="DevExpress.Pdf.Drawing" version="24.2.7" targetFramework="net472" />
  <package id="DevExpress.Printing.Core" version="24.2.7" targetFramework="net472" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="4.1.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
</packages>